*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #cfdef3, #e0eafc);
  color: #60656f;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-size: 2rem;
}

section {
  display: flex;
  align-items: center;
  max-width: 2000px;
  width: 80%;
  margin: 50px auto;
}

.about {
  .profile {
    aspect-ratio: 1;
    object-fit: cover;
    height: 400px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .about-body {
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    height: 300px;
    grid-template-rows: 1fr 1fr 1fr;
    backdrop-filter: blur(1rem);
    outline: 1px solid rgb(133, 133, 133);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .link {
      height: 40px;
      margin: 10px;
    }

    h1 {
      width: 100%;
      align-self: end;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;

  h1 {
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
  }

  .card {
    height: 400px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    outline: 1px solid rgb(133, 133, 133);
    overflow: hidden;
    cursor: pointer;

    &:hover {
      div:first-child {
        filter: brightness(1);
      }
      .description {
        background-color: rgba(255, 255, 255, 0.5);
        color: #60656f;
      }
    }

    div:first-child {
      filter: brightness(0.8);
      transition: filter 0.5s ease;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .description {
      transition: background-color 0.5s ease, color 0.5s ease;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px;
      gap: 10px;
      align-items: center;
      background-color: #60656f;
      color: rgba(255, 255, 255, 0.8);

      img {
        margin-left: auto;
      }

      p {
        grid-column: span 4;
      }
    }
  }
}

.work div:nth-child(1) div:first-child {
  background-color: rgb(180, 196, 130);
}
.work div:nth-child(2) div:first-child {
  background-color: rgb(179, 129, 235);
}
.work div:nth-child(3) div:first-child {
  background-color: rgb(143, 196, 189);
}
.work div:nth-child(4) div:first-child {
  background-color: rgb(125, 145, 255);
}
.work div:nth-child(5) div:first-child {
  background-color: rgb(148, 174, 108);
}
.work div:nth-child(6) div:first-child {
  background-color: rgb(191, 171, 246);
}
.work div:nth-child(7) div:first-child {
  background-color: rgb(255, 173, 102);
}

footer {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px;

  div {
    display: grid;
    align-items: center;
    max-width: 2000px;
    width: 80%;
    margin: auto;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    grid-area: 1 / 2 / 6 / 3;
    max-height: 300px;
    justify-self: end;
  }
}
