*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  background: url("./assets/martin-martz-3jkgyzJ-VSw-unsplash.jpg");
  color: white;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.about {
  display: flex;
  align-items: center;
  max-width: 2000px;
  width: 80%;
  margin: 100px auto;
}
.about .profile {
  aspect-ratio: 1;
  object-fit: cover;
  height: 500px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.about .about-body {
  padding: 20px 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.126);
  height: 400px;
  grid-template-rows: 1fr 1fr 1fr;
  backdrop-filter: blur(1rem);
  outline: 1px solid rgb(133, 133, 133);
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.about .about-body .link {
  height: 40px;
  margin: 10px;
}
.about .about-body h1 {
  width: 100%;
}
